extends layout

doctype html
html
		block content
			.container
				h2= title
				h3#currentPlayerTurnDisplay Red player's turn!

				canvas#gameDraw

				if (player.playernumber == 0)
					h4= "Red Player"
				else
					h4= "Blue Player"

				input(type='button', value='End Turn', id='endTurnButton')

				form(method='post', action='/game/delete_game', name='delete-game')
					input(type= 'hidden', name= 'gameID' value= gameID)
					input(type='submit', value='Concede', id='concedeButton')

				script(type= 'text/javascript').
					var gameID =!{JSON.stringify(gameID)}
					var player =!{JSON.stringify(player)}

				div.chat_content
					h3 Chat
						p
							.content(name='chat-content')
								br
								input(name='chat-text-area')
								input(type='button', value='send')

				script(src='/game/test.js')
